nav {
  padding: 20px;
  text-align:center;
  border-style: solid;
  border-width: 2px;
  margin: 10;
}

 body{
  font-family: 'Times New Roman';
  background-color: bisque;
 } 
 form{
  text-align: center;
 }